* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
}

html{
    background: black;
}
.main-section{
    width: 80vh;
    height: 100%;
    margin: auto;
    position: relative;
    background: white;
    border-radius: 10px;

}
.top-section{
    position: relative;
    display: flex;
    align-items: center;
}

.top-section img{
    width: 80vh;
    height: 30vh;
    object-fit: cover;

}

.img-top-size {
    display: block;
    width: 250px;
    height: 250px;
    max-width: 80vh;
}

.middle-section {
    display: inline-flex;
    text-align: center;

}
.middle-section img {
    width: 210px;
    height: 120px;
    object-fit: cover;

}

.middle-section span{
    text-transform: uppercase;
    text-align: center;
    padding: initial;
    font-size: 10px;
    font-weight: 600;

}
.bottom-section {
    display: inline-flex;
    width: 80vh;
    position: relative;

}

.form {
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 40vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: orange;
    font-size: 9pt;
    font-weight: bold;
}
.form input, textarea {
    background: whitesmoke;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 8px 10px;
    display: block;
    margin-top: 1px;
    margin-bottom: 3px;
}

.button{
    margin-top: 5px;
    text-align: center;
    align-self: center;
    
}
.button button{
    width: 15vh;
    border: 1px solid #cccccc;
    height: 4vh;
    cursor: pointer;
}

.dados{
    padding: 10px;
}
.dados p{
    font-size: 13px;
}
.dado {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: orange;
    font-size: 9pt;
    font-weight: bold;
}

.dados img{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

